[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
end_of_line = crlf
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:error
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
dotnet_style_readonly_field = true:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
dotnet_style_require_accessibility_modifiers = always:error
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent
dotnet_style_allow_multiple_blank_lines_experimental = false:error
dotnet_code_quality_unused_parameters = all:error
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:error
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:error
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:error
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:error
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
dotnet_diagnostic.CA1008.severity = silent
dotnet_diagnostic.CA1005.severity = silent
dotnet_diagnostic.CA1021.severity = error
dotnet_diagnostic.CA1034.severity = silent

[*.cs]
csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = outside_namespace:error
csharp_prefer_simple_using_statement = true:error
csharp_prefer_braces = true:error
csharp_style_namespace_declarations = file_scoped:error
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_expression_bodied_methods = true:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = true:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_prefer_static_local_function = true:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false:error
csharp_style_allow_embedded_statements_on_same_line_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = false:error
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = false:error
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = false:error
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_style_var_for_built_in_types = false:silent
csharp_style_var_when_type_is_apparent = false:silent
csharp_style_var_elsewhere = false:silent
csharp_space_around_binary_operators = before_and_after
csharp_style_prefer_readonly_struct_member = true:suggestion

# NetAnalyzers
    # Design rules
    dotnet_diagnostic.CA1050.severity = error
    dotnet_diagnostic.CA1051.severity = error
    dotnet_diagnostic.CA1068.severity = error
    dotnet_diagnostic.CA1069.severity = error

    # Maintainability rules
    dotnet_diagnostic.CA1507.severity = error
    dotnet_diagnostic.CA1508.severity = error

    # Naming rules
    dotnet_diagnostic.CA1710.severity = error
    dotnet_diagnostic.CA1715.severity = error
    dotnet_diagnostic.CA1727.severity = error

    # Performance rules
    dotnet_diagnostic.CA1806.severity = error
    dotnet_diagnostic.CA1812.severity = none
    dotnet_diagnostic.CA1823.severity = error
    dotnet_diagnostic.CA1836.severity = error
    dotnet_diagnostic.CA1849.severity = error
    dotnet_diagnostic.CA1851.severity = error

    # Reliability rules
    dotnet_diagnostic.CA2011.severity = error
    dotnet_diagnostic.CA2016.severity = error
    dotnet_diagnostic.CA2017.severity = error

    # Usage rules
    dotnet_diagnostic.CA2200.severity = error
    dotnet_diagnostic.CA2250.severity = error
#

# Stylecop
    # Layout rules
    dotnet_diagnostic.SA1500.severity = error
    dotnet_diagnostic.SA1501.severity = error
    dotnet_diagnostic.SA1502.severity = error
    dotnet_diagnostic.SA1503.severity = error
    dotnet_diagnostic.SA1504.severity = suggestion
    dotnet_diagnostic.SA1505.severity = error
    dotnet_diagnostic.SA1506.severity = silent
    dotnet_diagnostic.SA1507.severity = error
    dotnet_diagnostic.SA1508.severity = error
    dotnet_diagnostic.SA1509.severity = error
    dotnet_diagnostic.SA1510.severity = error
    dotnet_diagnostic.SA1511.severity = error
    dotnet_diagnostic.SA1516.severity = error
    dotnet_diagnostic.SA1517.severity = error
    dotnet_diagnostic.SA1519.severity = error
    dotnet_diagnostic.SA1520.severity = error

    # Naming rules
    dotnet_diagnostic.SA1300.severity = error
    dotnet_diagnostic.SA1302.severity = error
    dotnet_diagnostic.SA1305.severity = error
    dotnet_diagnostic.SA1306.severity = error
    dotnet_diagnostic.SA1308.severity = silent
    dotnet_diagnostic.SA1309.severity = silent
    dotnet_diagnostic.SA1312.severity = error
    dotnet_diagnostic.SA1313.severity = error
    dotnet_diagnostic.SA1314.severity = error
    dotnet_diagnostic.SX1309.severity = error

    # Maintainability rules
    dotnet_diagnostic.SA1119.severity = error
    dotnet_diagnostic.SA1400.severity = error
    dotnet_diagnostic.SA1401.severity = error
    dotnet_diagnostic.SA1402.severity = suggestion
    dotnet_diagnostic.SA1403.severity = error
    dotnet_diagnostic.SA1407.severity = error
    dotnet_diagnostic.SA1408.severity = error
    dotnet_diagnostic.SA1411.severity = error
    dotnet_diagnostic.SA1413.severity = error
    dotnet_diagnostic.SA1414.severity = error
    
    # Ordering rules
    dotnet_diagnostic.SA1200.severity = silent
    dotnet_diagnostic.SA1201.severity = error
    dotnet_diagnostic.SA1202.severity = error
    dotnet_diagnostic.SA1203.severity = error
    dotnet_diagnostic.SA1206.severity = error
    dotnet_diagnostic.SA1207.severity = error
    dotnet_diagnostic.SA1209.severity = error
    dotnet_diagnostic.SA1210.severity = silent
    dotnet_diagnostic.SA1208.severity = silent
    dotnet_diagnostic.SA1211.severity = silent
    dotnet_diagnostic.SA1212.severity = error
    dotnet_diagnostic.SA1214.severity = error
    dotnet_diagnostic.SA1216.severity = silent
    dotnet_diagnostic.SA1217.severity = silent

    # Readability rules
    dotnet_diagnostic.SA1100.severity = error
    dotnet_diagnostic.SA1101.severity = none
    dotnet_diagnostic.SA1106.severity = error
    dotnet_diagnostic.SA1107.severity = error
    dotnet_diagnostic.SA1108.severity = none
    dotnet_diagnostic.SA1110.severity = error
    dotnet_diagnostic.SA1111.severity = none
    dotnet_diagnostic.SA1112.severity = none
    dotnet_diagnostic.SA1113.severity = error
    dotnet_diagnostic.SA1114.severity = none
    dotnet_diagnostic.SA1115.severity = error
    dotnet_diagnostic.SA1116.severity = error
    dotnet_diagnostic.SA1117.severity = error
    dotnet_diagnostic.SA1118.severity = error
    dotnet_diagnostic.SA1120.severity = none
    dotnet_diagnostic.SA1121.severity = error
    dotnet_diagnostic.SA1122.severity = error
    dotnet_diagnostic.SA1123.severity = none
    dotnet_diagnostic.SA1124.severity = none
    dotnet_diagnostic.SA1125.severity = error
    dotnet_diagnostic.SA1127.severity = error
    dotnet_diagnostic.SA1128.severity = error
    dotnet_diagnostic.SA1129.severity = suggestion
    dotnet_diagnostic.SA1130.severity = error
    dotnet_diagnostic.SA1131.severity = suggestion
    dotnet_diagnostic.SA1132.severity = error
    dotnet_diagnostic.SA1133.severity = error
    dotnet_diagnostic.SA1134.severity = error
    dotnet_diagnostic.SA1135.severity = none
    dotnet_diagnostic.SA1136.severity = error
    dotnet_diagnostic.SA1137.severity = error
    dotnet_diagnostic.SA1139.severity = suggestion
    dotnet_diagnostic.SA1141.severity = error
    dotnet_diagnostic.SA1142.severity = error
    dotnet_diagnostic.SA1413.severity = suggestion
    dotnet_diagnostic.SX1101.severity = error

    # Spacing rules
    dotnet_diagnostic.SA1000.severity = error
    dotnet_diagnostic.SA1001.severity = error
    dotnet_diagnostic.SA1002.severity = error
    dotnet_diagnostic.SA1003.severity = error
    dotnet_diagnostic.SA1004.severity = none
    dotnet_diagnostic.SA1005.severity = none
    dotnet_diagnostic.SA1006.severity = none
    dotnet_diagnostic.SA1007.severity = none
    dotnet_diagnostic.SA1008.severity = error
    dotnet_diagnostic.SA1009.severity = error
    dotnet_diagnostic.SA1010.severity = error
    dotnet_diagnostic.SA1011.severity = error
    dotnet_diagnostic.SA1012.severity = error
    dotnet_diagnostic.SA1013.severity = error
    dotnet_diagnostic.SA1016.severity = error
    dotnet_diagnostic.SA1017.severity = error
    dotnet_diagnostic.SA1018.severity = error
    dotnet_diagnostic.SA1019.severity = error
    dotnet_diagnostic.SA1021.severity = none
    dotnet_diagnostic.SA1022.severity = none
    dotnet_diagnostic.SA1024.severity = error
    dotnet_diagnostic.SA1025.severity = error
    dotnet_diagnostic.SA1027.severity = error
    dotnet_diagnostic.SA1028.severity = error
#

# AspNetCore Analyzers
dotnet_diagnostic.ASP001.severity = error
dotnet_diagnostic.ASP002.severity = error
dotnet_diagnostic.ASP003.severity = error
dotnet_diagnostic.ASP004.severity = error
dotnet_diagnostic.ASP005.severity = error
dotnet_diagnostic.ASP006.severity = error
dotnet_diagnostic.ASP007.severity = error
dotnet_diagnostic.ASP008.severity = error
dotnet_diagnostic.ASP009.severity = error
dotnet_diagnostic.ASP010.severity = error
dotnet_diagnostic.ASP011.severity = error
dotnet_diagnostic.ASP012.severity = error
dotnet_diagnostic.ASP010.severity = silent
dotnet_diagnostic.ASP0000.severity = error
#

# Microsoft.VisualStudio.Threading.Analyzers
dotnet_diagnostic.VSTHRD100.severity = error
dotnet_diagnostic.VSTHRD103.severity = error
dotnet_diagnostic.VSTHRD104.severity = error
dotnet_diagnostic.VSTHRD110.severity = error
dotnet_diagnostic.VSTHRD114.severity = error
dotnet_diagnostic.VSTHRD200.severity = error
#

# xunit.analyzers
dotnet_diagnostic.xUnit1004.severity = warning
dotnet_diagnostic.xUnit1005.severity = error
dotnet_diagnostic.xUnit1006.severity = error
dotnet_diagnostic.xUnit1008.severity = error
dotnet_diagnostic.xUnit1012.severity = error
dotnet_diagnostic.xUnit1013.severity = error
dotnet_diagnostic.xUnit1014.severity = error
dotnet_diagnostic.xUnit1021.severity = error
dotnet_diagnostic.xUnit1025.severity = error
dotnet_diagnostic.xUnit1026.severity = error
#
